<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a href="{{ url_for('index') }}" class="navbar-brand">
        <img src="{{ url_for('static', filename='images/logo.png') }}" height="40px">
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarResponsive">
        <form class="form-inline my-2 my-lg-0 ">
          {% if session.get("user_id") %}
            <a href="{{ url_for('logout') }}" class="btn primary-btns">Logout</a>
            <a href="{{ url_for('import_trades') }}" class="btn primary-btns">Add Trades</a>
          {% else %}
            <a href="{{ url_for('register') }}" class="btn primary-btns">Register</a>
            <a href="{{ url_for('login') }}" class="btn primary-btns">Login</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>
